<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191203211970-7rs2mfn25296ljh6pld2mr2hvivcmobc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191203211970-7rs2mfn25296ljh6pld2mr2hvivcmobc</string>
	<key>API_KEY</key>
	<string>AIzaSyCR2vsWfYPPfHF2-iSujTf2x8LMqPbJ3ME</string>
	<key>GCM_SENDER_ID</key>
	<string>191203211970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.base</string>
	<key>PROJECT_ID</key>
	<string>base-63e42</string>
	<key>STORAGE_BUCKET</key>
	<string>base-63e42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191203211970:ios:bfff0983b58d19391fd95b</string>
</dict>
</plist>